syntax: glob

# Byte-compiled / optimized
__pycache__/
*.pyc
*.pyo
.cache/

# coverage files
.coverage
.coverage.*

# google drive settings
*desktop.ini

# Microsoft installers
*.msi

# Windows executable
*.exe

# Mac installers
*.dmg

# C extensions
*.so
*.pyd

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
_build/

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# notebooks checkpoint
*.ipynb_checkpoints

# Mac
.DS_Store

# vim
*.swp

# Spyder project settings
.spyderproject

# PyCharm settings
.idea/

# resources folder
resources/~$icons.pptx

